.container {
    display: block;
    background-color: aliceblue;
    width: 95%;
    box-shadow: 4px 4px 10px #000;
    margin: 0 auto;
    max-width: 50%;
    max-height: 50%;
    min-width;
    0;
    min-height: 0;
    margin-top: 4%
}

body {
    background: linear-gradient(90deg, #1C1C1C 0%, #4c78a3 100%);
}

header {
    background-color: #000000;
    color: #fff;
    font-family: arial;
    width: 100%;
    position: fixed;
}
html{
	font-size: 62.5%;
}
h3{ 
    font-size: 1.9rem;
    font-family: arial;
    margin: 0;
    padding: 3px;
}
    h4{
        font-size: 1.0rem;
            font-family: arial;
            margin: 0;
            padding: 5px;
    }
    h1{
        color: #000080;
        text-align: center;
        padding-top: 10px; 
        font-size: 3rem;
        font-family: Courier New, monospace;
    }
    p{
        font-family: arial;
        text-align: justify;
        padding: 10px; 
        font-size: 1.6rem;
    }
    .textoinicio{
        text-align: left;
        font-family: 'Roboto Slab', serif;
    }
    .certificado{
        height: 300px;
        width: 500px;
        border-radius: 10%;
        padding-left: 250px;
        }
     
    .texto-grid{
        font-family: arial;
        font-size: 1.6rem;
        text-align: center;
        font-weight: bold;
    }


</style>